
block variables

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title}
        link(rel="shortcut icon" href="images/content/favicon.ico" type="image/png")
        link(rel='stylesheet', href='styles/main.min.css')
        link(rel='stylesheet', href='styles/owl.carousel.min.css')
        script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript")
    body
        .main-wrapper
            include section/header.pug
            block content

            include section/hamburger.pug
            include section/footer.pug
            //- include section/modal_sign.pug
            script(type="template" id="modalSignTemplate")
                .modal
                    .modal__form
                        //- добавить класс .modal-form__block--error для отображения инфы об ошибке
                        .modal-form__block
                            h2.modal__title Sign In
                            .error-message Data entry error
                            form.form-sign
                                label.form-sign__label
                                    .form-sign__name Login
                                    input.form__input(type="text" name="" placeholder="Login")
                                label.form-sign__label
                                    .form-sign__name Password
                                    input.form__input(type="password" name="" placeholder="Login")
                                label.form-sign__remember(for="RememberMe")
                                    input.check-input#RememberMe(type="checkbox")
                                    .input-my-checkbox
                                    .form-sign__text Remember me
                                .form-sign__button
                                    .btn.btn-red.form-sign__btn-underline Log In
                                    .btn.btn-blue Registration
                                    a.form-sign__link.form-sign__text(href="#") Forgot your password?
                        .modal__close 

        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        script(type="text/javascript" src="js/owl.carousel.min.js")
        script(type="text/javascript" src="js/main.js")