extends ../loyout

block variables
    - var title= "Главная"

block content
    section.first
        .container
            .first-block
                h1.first-block__title ROPIT
                .first-block__content
                    p your assistant in achieving excellence
    section.search
        .container
            form.search-form
                .search-form__item.search-form__item-input
                    .search-form__title Query:
                    input.search-form__input(type="text" value="Company, category, brand, product, part no, IMPA/ISSA, etc.")
                .search-form__item.search-form__item-input
                    .search-form__title Local:
                    input.search-form__input(type="text" value="")
                .search-form__item
                    button.btn Search
    section.product
            .prod-block.owl-carousel
                .prod-block__item.prod-block__prodone
                    .container
                        .prod-block__title ROPIT Supply: Excellence in trading
                        .prod-block__btn
                            a.prod-block__link.btn(href="#") Press the button
                .prod-block__item.prod-block__prodtwo
                    .container
                        .prod-block__title Something about ROPIT company 2
                        .prod-block__btn
                            a.prod-block__link.btn(href="#") Press the button
                .prod-block__item.prod-block__prodthree
                    .container
                        .prod-block__title Something about ROPIT company 3
                        .prod-block__btn
                            a.prod-block__link.btn(href="#") Press the button
    section.info
        .container
            .info-block
                .info-block__title Something about ROPIT
                .section-btn
                    a.section-btn__link.btn(href="#") Press the button
    section.info.section-grey
        .container
            .info-block
                .info-block__title Something about ROPIT
                .section-btn
                    a.section-btn__link.btn(href="#") Press the button
    section.pairs
        .container
            ul.pairs__list
                li.pairs__item
                    a.pairs__link(href="")
                        img.pairs__img(src="images/content/P&G.png")
                li.pairs__item
                    a.pairs__link(href="")
                        img.pairs__img(src="images/content/hencel.png")
                li.pairs__item
                    a.pairs__link(href="")
                        img.pairs__img(src="images/content/tork.png")
                li.pairs__item
                    a.pairs__link(href="")
                        img.pairs__img(src="images/content/P&G.png")
                li.pairs__item
                    a.pairs__link(href="")
                        img.pairs__img(src="images/content/hencel.png")
                li.pairs__item
                    a.pairs__link(href="")
                        img.pairs__img(src="images/content/tork.png")
                li.pairs__item
                    a.pairs__link(href="")
                        img.pairs__img(src="images/content/P&G.png")


