.personal-area {
  display: flex;
}

.aside {
  background-color: $darkBlue;
  max-width: rem(70px);
  height: 100%;
  .aside__list {
    opacity: 0;
    width: 0;
  }
  &.aside--active{
    max-width: rem(150px);
    .aside__list {
      opacity: 1;
      width: auto;
    }
  }
}

.aside-burger__link {
  display: flex;
  justify-content: flex-end;
  padding: rem(20px);
  &:hover {
    .aside-burger__line{
      background-color: $white;
      &::before {
        background-color: $white;
      }
      &::after {
        background-color: $white;
      }
    }
  }   
}

.aside-burger__line {
  display: block;
  width: rem(30px);
  height: 2px;
  background-color: #2d2d4f;
  border-radius: 3px;
  margin: rem(10px) 0;
  transition: all .3s;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: rem(10px);
    width: 100%;
    height: 2px;
    background-color: #2d2d4f;
    border-radius: 3px;
    transition: all .3s;
  }
  &::after {
    content: '';
    position: absolute;
    top: rem(10px);
    width: 100%;
    height: 2px;
    background-color: #2d2d4f;
    border-radius: 3px;
    transition: all .3s;
  }
}

.aside__link {
  color: $white;
  padding: rem(15px) rem(60px) rem(15px) rem(20px);
  text-align: right;
  position: relative;
  border: 1px solid #2d2d4f;
  border-left: none;
  border-right: none;
  transition: all .3s;
  &::after {
    content: '';
    position: absolute;
    right: rem(20px);
    top: 12px;
    width: rem(25px);
    height: rem(30px);
  }
  &:hover{
    background-color: $blue;
    transition: all .3s;
  }
  
 }

.aside__svg {
  position: absolute;
  right: rem(20px);
  top: rem(12px);
  width: rem(25px);
  height: rem(30px);
  fill: #fff;
 }
 
.aside__sublist {
  text-align: right;
}

.aside__sublink {
  color: $white;
  @include font-size(14px);
  padding: rem(10px) rem(20px);
  position: relative;
  border: 1px solid #2d2d4f;
  border-left: none;
  border-right: none;
  &.aside__sublink--active  {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $blue;
      width: 10px;
      height: 100%;
    }
  }
 }
