footer.footer
    .footer-top
        .footer-top__block
            div.footer-title
                a.footer-title__link Buyer
            ul.footer-top__list
                li.footer-top__item
                    a.footer-top__link(href="") Something
                li.footer-top__item
                    a.footer-top__link(href="") Something
                li.footer-top__item
                    a.footer-top__link(href="") Something
        .footer-top__block
            div.footer-title
                a.footer-title__link Supplier
            ul.footer-top__list
                li.footer-top__item
                    a.footer-top__link(href="") Something
                li.footer-top__item
                    a.footer-top__link(href="") Something
                li.footer-top__item
                    a.footer-top__link(href="") Something
        .footer-top__block
            div.footer-title
                a.footer-title__link Customers
            ul.footer-top__list
                li.footer-top__item
                    a.footer-top__link(href="") Something
                li.footer-top__item
                    a.footer-top__link(href="") Something
                li.footer-top__item
                    a.footer-top__link(href="") Something
        .footer-top__block
            div.footer-title
                a.footer-title__link About
            ul.footer-top__list
                li.footer-top__item
                    a.footer-top__link(href="") Something
                li.footer-top__item
                    a.footer-top__link(href="") Something
        .footer-top__block
            div.footer-title
                a.footer-title__link About
        .footer-top__block
            div.footer-title
                a.footer-title__link Help
        .footer-top__block
            div.footer-title
                a.footer-title__link Contact US
    .footer-bottom Copyright © 2018 ROPIT. All rights reserved.